<%# Used in sizes.html.erb for a table representing the sizes that are available
 		The sizes come from sizes.yml %>
<tr>
	<th><%= size['name'] %></th>
	<td><%= size['a'] %></td>
	<td><%= size['b'] %></td>
	<td><%= size['c'] %></td>
	<td><%= size['d'] %></td>
</tr>