<div>
	<h3><a href="#"><%= distributor[1]['name'] %></a></h3>
	<div>
		<p><%= distributor[1]['address1'] %></p>
		<p><%= distributor[1]['address2'] %></p>
		<p><%= distributor[1]['phone1'] %></p><br />
		<p>
			<a href="http://<%= distributor[1]['website'] %>" target="_blank">
			<%= distributor[1]['website'] %></a>
		</p>
	</div>
</div>