<!DOCTYPE html>
<html>
<head>
  <title>MessinaCovers</title>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= "#{params[:action]}" %>">
		
	<div id="header">
		<div class="header-content">
			<a href="/"><%= image_tag("logo.png", :id => 'logo') %></a>
		</div>
	</div>

	<div id="sub-header">
		<h1>Bass Bags Built To Last</h1>
	</div>
	<div class="sub-header-shadow"></div>				

	
	<div id="primary-content">
		<div class="content-wrap">
			<%= yield :layout %>
		</div>
	</div>
	
  <%= javascript_include_tag :defaults %>
</body>
</html>
