<!DOCTYPE html>
<html>
<head>
	<%= render(:partial => 'partials/head') %>
	<!-- 
	TODO: ADD GOOGLE ANALYTICS 
	-->
</head>

<body class="<%= "#{params[:action]}" %>">
		
	<div id="header">
		<div class="header-content">
			<a href="/"><%= image_tag("logo.png", :id => 'logo') %></a>
			<% semantic_navigation :main do |n| %>
		      <%= n.item 'Home', :link => '/' %>
		      <%= n.item 'Construction' %>
					<%= n.item 'Gallery' %>
					<%= n.item 'Distributors' %>
					<%= n.item 'Sizes' %>
					<%= n.item 'Custom' %>
		  <% end %>
		</div>
	</div>

	<div id="sub-header">
		<h1>Bass Bags Built To Last</h1>
	</div>
	<div class="sub-header-shadow"></div>				

	
	<div id="primary-content">
		<div class="content-wrap">
			<%= yield :layout %>
		</div>
	</div>
	
	<%= render(:partial => 'partials/footer') %>
	
  <%= javascript_include_tag 'jquery-1.5.2.min', 'application', 'jquery-ui-1.8.11.custom.min', 'curvycorners', :cache => true	 %>
</body>
</html>