<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
  <title>Messina Covers <%= "- #{@title}" unless @title.nil? %></title>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
  <%= csrf_meta_tag %>
</head>

<body class="<%= "#{params[:action]}" %>">
		
	<div id="header">
		<div class="header-content">
			<a href="/"><%= image_tag("logo.png", :id => 'logo') %></a>
			<% semantic_navigation :main do |n| %>
		      <%= n.item 'Home', :link => '/' %>
		      <%= n.item 'Construction' %>
					<%= n.item 'Gallery' %>
					<%= n.item 'Distributors' %>
					<%= n.item 'Sizes' %>
					<%= n.item 'Custom' %>
		  <% end %>
		</div>
	</div>

	<div id="sub-header">
		<h1>Bass Bags Built To Last</h1>
	</div>
	<div class="sub-header-shadow"></div>				

	
	<div id="primary-content">
		<div class="content-wrap">
			<%= yield :layout %>
		</div>
	</div>
	
	<div id="footer">
		<div class="content">
			<div class="contact">
				<p>Call me: (740) 591-8318</p>
				<p>Email me: messinacovers@gmail.com</p>
				<p>Friend me on <a href="#">Facebook</a></p>
				<p class="address">
					Messina Covers<br />
					P.O. Box 2627<br />
					Athens, OH 45701
				</p>
			</div>
		
			<div class="info">
				<!-- Current year from application_helper.rb -->
				<p class="copy">&copy; Copyright <%= current_year %>, Messina Covers</p>
				<p>Designed and developed by:</p>
				<p>Alex Okolish <a href="mailto:ao140505@ohio.edu">ao140505@ohio.edu</a></p>
			</div>
		</div>
	</div>
	
  <%= javascript_include_tag 'jquery-1.5.2.min', 'application', 'jquery-ui-1.8.11.custom.min' %>
</body>
</html>
